body {
    height: 100%;
    margin: 0;
    font-family: fantasy;
}

#root {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    outline: none;
}

footer {
    text-align: right;
}

#mainwrapper {
    width: 100%;
    max-width: 80em;
    max-height: 100%;
}

#mainwrapper.small-version {
    max-width: 30em;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.day-editor {
    background-color: white;
}

button.day-item-button, button.prev, button.next {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: fantasy;
}

.header {
    width: 100%;
    height: 70px;
    padding: 70px, 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #addfc3;
    text-align: center;
    font-family: fantasy;
}

.month-navigator {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
}

.month-navigator .prev, .next {
    color: white;
    font-size: 20px;
}

.month-navigator .prev:hover, .next:hover {
    font-size: 30px;
}

.weekdays-row {
    display: grid;
    grid-template-columns: repeat(7, 14.29%);
    align-items: center;
    text-align: center;
    padding: 5px;
}

.month-grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.day-item {
    border: 4px solid white;
    text-align: center;
    width: 12.5%;
    align-self: center;
    background-color: rgb(207, 214, 212);
    min-height: 20px;
    padding: 5px;
    position: relative;
}

.day-item-button {
    font-size: 15px;
}

