<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] - Calendar </title>
        <link rel="stylesheet" href="calendar.css">
        <meta charset="UFT-8">
    </head>
    <body>
        @RenderBody()
        <footer>
            <p>Calendar by Julia Czmut</p>
        </footer>
    </body>
</html>