<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] - Calendar </title>
        <link rel="stylesheet" href="/calendar.css">
        <meta charset="UFT-8">
    </head>
    <body>
        <div class="wrapper @(ViewData.ContainsKey("SmallVersion") ? "smallversion" : "")">
            @RenderBody()
            <footer>
                <p>Calendar by Julia Czmut</p>
            </footer>
        </div>
        
    </body>
</html>