ul {list-style-type: none;}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: fantasy;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    text-align: right;
    font-family: fantasy;
    padding: 1px;
}

.wrapper {
    width: 100%;
    max-width: 80em;
    max-height: 100%;
}

.wrapper.smallversion {
    max-width: 30em;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------------------CALENDAR VIEW-------------------------------------- */

/* month header */
header {
    padding: 70px, 25px;
    width: 100%;
    height: 20%;
    background: #addfc3;
    text-align: center;
    vertical-align: middle;
}

.navigateMonth ul {
    margin: 0;
    padding: 0;
}

.navigateMonth ul li {
    display: inline-block;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px;
}

/* previous month button */
.navigateMonth .prev {
    float: left;
    padding-top: 10px;
}

/* next button */
.navigateMonth .next {
    float: right;
    padding-top: 10px;
}

.navigateMonth .prev:hover {
    font-size: 30px;
}

.navigateMonth .next:hover {
    font-size: 30px;
}

/* current month */
.navigateMonth .currentMonth {
    font-size: 20px;
    padding: 10px;
}

/* main calendar part */
th, td {
    text-align: center;
    padding: 15px;
}

td {
    background-color: rgb(207, 214, 212);
    border: 3px solid white;
}

.calendar {
    width: 100%;
    height: 90%;
}

/* weekdays */
.calendar .weekdays {
    background-color: white;
}

/* days of the month */
.calendar .days {
    width: 13.6%;
    padding:15px;
    background-color: rgb(224, 233, 230);
    font-size: 20px;
}

/* -----------------------------DAY VIEW-------------------------------------- */

.smallerHeader {
    font-family: fantasy;
    color: white;
    vertical-align: middle;
    display: grid;
}

.events {
    width: 100%;
    border-collapse: collapse;
}

.events .header {
    background-color: #d5f8ee;
    text-align: center;
    font-family: fantasy;
    color: rgb(88, 87, 87);
}

button, a.button {
    font-family: inherit;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(199, 197, 197);
    display: inline-block;
    padding: 0.5em;
    color: rgb(83, 87, 87);
    background-color: rgb(188, 202, 199);
}

.bottomButton {
    font-size: larger;
}

/* ---------------------------------EVENT VIEW---------------------------------------------- */



